<app-header></app-header>
<div class="col-md-12 col-lg-12">
    <div class="row g-3 justify-content-center">
        <div class="card shadow-sm">      
            <div class="card-body">
                <h5>Pepito</h5>
                <small class="text-muted">1d.</small>
                <p class="card-text multi-line">Aca va el poema</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
      
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

<div class="col-md-12 col-lg-12">
    <div class="row g-3 justify-content-center">
            <div class="card shadow-sm">      
                <div class="card-body">
                <!-- <h4 class="mb-3">Billing address</h4> -->
                <form class="needs-validation" novalidate>
                  <div class="row g-3 justify-content-center">
                    <div class="col-sm-8">
                      <label style="color:black" for="firstName" class="form-label">Escribe tu comentario</label>
                      <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                      <div class="invalid-feedback">
                        El título es requerido.
                      </div>
                    </div>
                
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                      <button class="btn btn-dark me-md-2" type="button">Comentar</button>
                      <button class="btn btn-dark" type="button">Cancelar</button>
                    </div>
                  </div>
                </form>
            </div>    
        </div>
    </div>
</div>

<div class="col-md-12 col-lg-12">
    <div class="row g-3 justify-content-center">
            <div class="card shadow-sm">      
                <div class="card-body">
                    
                    <h5>Juan</h5>
                    <small class="text-muted">1d.</small>
                    <p class="card-text multi-line">muy bueno</p>
                    <div class="d-flex justify-content-between align-items-center">
                    </div>
                </div>
            </div>
    </div>
</div>
<app-foot></app-foot>