<div class="con">


    <h1>Comunidad Poeta</h1>
    <h5> Inicia sesión para:</h5>
    <h5> - Publicar tus poemas.</h5>
    <h5> - Guardar tus poemas, autores y posts favoritos.</h5>
    <h5> - Dejar tus comentarios.</h5>
    <h5> - Hacer amistades.</h5>

    <div class="row w-100 text-right " style= margin-top:10px  id="row2">
        <div class="col">   
            <div class="btn-group">
                 <a class="buttonregister"routerLink="login">Inicia sesion</a>
                 <a class="buttonIniciasesion" routerLink="registro">Registrate</a>
            </div>
        </div>
    </div>
                
  
</div>