<div class="py-5 text-center">
  <div class="card text-center">
    <div class="card-header">
      <h5 *ngIf="tipoOperacion == '1'" class="card-title">Editar</h5>

      <h5 *ngIf="tipoOperacion == '2'" class="card-title">Eliminar</h5>

      <h5 *ngIf="tipoOperacion == '3'" class="card-title">Ver</h5>
      <h5 *ngIf="tipoOperacion == '4'" class="card-title">Dar de alta</h5>
    </div>
    <div class="card-body">
      <p class="card-text">{{ user.email }}</p>
      <p *ngIf="user.admin" class="card-text">admin</p>
      <p *ngIf="!user.admin" class="card-text">no admin</p>
    </div>
    <div class="card-footer text-muted">
      <button
        *ngIf="tipoOperacion == '1'"
        type="button"
        (click)="admin()"
        class="btn btn-dark"
      >
        Cambiar permisos
      </button>
      <button
        *ngIf="tipoOperacion == '2'"
        type="button"
        (click)="delete()"
        class="btn btn-danger"
      >
        Eliminar
      </button>
      <a href="usuarios" class="btn btn-dark">Ir a usuarios</a>
      <button
        *ngIf="tipoOperacion == '4'"
        type="button"
        (click)="alta()"
        class="btn btn-dark"
      >
        Dar de alta
      </button>
    </div>
  </div>
</div>
