<body>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div *ngFor="let poema of arrayPoemas">
            <div class="col">
                
            <div class="card shadow-sm">
                
                <div class="card-body">
                    <h5>{{poema.title}}</h5>
                    <small class="text-muted">1d.</small>
                    <p class="card-text multi-line">{{poema.content}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
    
                            <div class="clasificacion">
                                <app-like-button type="button" [contentId]="'ID_DEL_CONTENIDO'" [contentType]="'TIPO_DE_CONTENIDO'"></app-like-button>
                                <button routerLink="poema" type="button" class="ir">Comentar</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div> 
            </div>
        </div>
    </div>
</body>