<body>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div *ngFor="let poema of arrayPoemas">
            <div class="col">
                
            <div class="card shadow-sm">
                
                <div class="card-body">
                    <h5>{{poema.title}}</h5>
                    <small class="text-muted">1d.</small>
                    <p class="card-text multi-line">{{poema.content}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
    
                            <div class="clasificacion">
                                <p1>Calificar</p1>
                                <input id="radio1" type="radio" name="estrellas" value="5">
                                <label for="radio1">★</label>                    
                                <input id="radio2" type="radio" name="estrellas" value="4">
                                <label for="radio2">★</label>
                                <input id="radio3" type="radio" name="estrellas" value="3">
                                <label for="radio3">★</label>
                                <input id="radio4" type="radio" name="estrellas" value="2">
                                <label for="radio4">★</label>
                                <input id="radio5" type="radio" name="estrellas" value="1">
                                <label for="radio5">★</label>
                            
                            </div>
                            <button routerLink="poema" type="button" class="ir">Ver más</button>
                        </div>
                    </div>
                </div>
            </div> 
            </div>
        </div>
    </div>
</body>